<!DOCTYPE>
<html lang="vi" xml:lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Trung tâm mua bán Thiết bị y tế</title>

    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfKXA6HCKoxduVb5Wwxs48PL9HH8w9EvbfnA&usqp=CAU" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../Content/Data/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/Data/main.css" rel="stylesheet" />
    <link href="../Content/Data/menu.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js'></script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css'
          type='text/css' />
          <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            top: 0;
            bottom: 0;
            width: 100%;
            height: 90vh;
        }

        #language-select {
            top: 10px;
            left: 10px;
            z-index: 1;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        #buttons {
            width: 90%;
            margin: 0 auto;
        }

        .button {
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: 7%;
            padding: 8px;
            border-radius: 3px;
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
            color: #fff;
            background: brown;
            font-family: sans-serif;
            font-weight: bold;
        }
    </style>
</head>

<body>
    
    <header>
        <div class="topheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 logo"><a href="@Url.Action("TrangChu","BanHang")"> <img src="~/Ảnh/logobtl.png" /></a></div>
                    <div class="col-md-5">
                        <div class="search">



    <input id="ipText" type="text" placeholder="Nhập sản phẩm bạn cần tìm vào đây" />
  
    <button onclick="showProduct()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
   </svg>
    </button>
 </div>
                    </div>
                    <div class="col-md-4 mobi-header">
                        <div class="hotline">
                            <span class="text-normal">Đường dây nóng</span>
                            <span class="phone-number">0916966713(Mr.Thông)</span>
                        </div>

                        <div class="addcart">

                            <div id="mini_shopping_cart">
                                <a href="@Url.Action("GioHang", "GioHang")" style="cursor: pointer">
                                    <img src="~/Ảnh/icon-cart.png" data-alt-src="" />
                                    @{
                                        if (ViewBag.TongSoLuong != null)
                                        {
                                                                            <span id="sl" style="font-size:14px">@ViewBag.TongSoLuong</span>
                                        }
                                    }

                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>border-color:
            #398439
            border-radius:
            4px
            border-style:
            solid
            border-width:
            1px
            font-size:
            14px
            line-height:
            20px
            padding:
            6px 12px
            text-align:
            center
            <div class="hotline" style="position: absolute; padding: 20px 0; padding-top: 20px; padding-right: 50px; padding-bottom: 20px; padding-left: 0px; margin-top: 15px;right:0;left:unset;">
                <span style="float:right;background-color: #2f79c4;line-height:20px;border-width:1px;border-color:#398439;border-radius:4px;padding:6px 12px;text-align:center"><a style="color: white;text-decoration: none" href="@Url.Action("Dangnhap","Admin")">Đăng nhập</a></span>
            </div>
        </div>
        <div class="menuheader">
            <div class="container">
                <nav class="nav">
                    <ul class="nav-list">
                        @await Component.InvokeAsync("DanhMucMenu")
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <section id="ele-for-render-ajax">
         
        @RenderBody()
          
     </section>
  
    <script>

        mapboxgl.accessToken = 'pk.eyJ1IjoibGVwaHVtaW5oIiwiYSI6ImNsZnFueGx2aTAwYnczcW54ajBienFuZzgifQ.MXSYRPFhz5-Olu7YzegCVA';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [105.80002419567913, 21.03153809855674], //Tọa độ lãnh thổ Việt Nam
            zoom: 5, // starting zoom
        });
        var marker = new mapboxgl.Marker({
            color: "red", //Màu của Marker là đỏ
            draggable: true,
            anchor: 'bottom', //Nhãn Hà Nội nằm dưới Marker
        }).setLngLat([105.80002419567913, 21.03153809855674]) //Thiết lập Marker tại hà Nội
            .addTo(map);
        map.addControl(new mapboxgl.NavigationControl());

        //vị trí
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));

        //full screen
        map.addControl(new mapboxgl.FullscreenControl());
        // ngon ngu~
        document.getElementById('buttons').addEventListener('click', (event) => {
            const language = event.target.id.substr('button-'.length);
            map.setLayoutProperty('country-label', 'text-field', [
                'get',
                `name_${language}`
            ]);
        });
        //them marker khi click

        map.on('click', function (e) {
            // Lấy vị trí click trên bản đồ
            var coordinates = e.lngLat;

            // Tạo đối tượng Marker và thêm vào bản đồ
            var marker = new mapboxgl.Marker()
                .setLngLat(coordinates)
                .addTo(map);

        });


        // chỉ đường
        // Khởi tạo đối tượng MapboxDirections
        var directions = new MapboxDirections({
            accessToken: mapboxgl.accessToken,
            unit: 'metric',
            profile: 'mapbox/driving-traffic',
            interactive: true,
        });
        map.addControl(directions, 'top-left');
        // var marker = new mapboxgl.Marker()
        //     .setLngLat([105.80002419567913, 21.03153809855674])
        //     .addTo(map);
        // directions.setDestination(marker.getLngLat());
        navigator.geolocation.getCurrentPosition(function (position) {
            var origin = [position.coords.longitude, position.coords.latitude];
            directions.setOrigin(origin);
        });
        // Thêm đối tượng MapboxDirections vào bản đồ
        // map.addControl(directions, 'bottom-left');
        // directions.setOrigin([longitude1, latitude1]);
        // directions.setDestination([longitude2, latitude2]);

    </script>
    <section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer_title">HƯỚNG DẪN SỬ DỤNG</div>
                                <ul class="footer-box">
                                    <li><a href="#"> </a></li>

                                </ul>
                            </div>
                            <div class="col-md-6 footer-thongtin">
                                <div class="footer_title">CHÍNH SÁCH BÁN HÀNG</div>
                                <ul class="footer-box">
                                    <li><a href="#" title="Chính sách giao hàng">Chính sách giao hàng</a></li>
                                    <li><a href="#" title="Chính sách bảo hành - đổi trả">Chính sách bảo hành - đổi trả</a></li>
                                    <li><a href="#" title="Mua hàng  - Thanh toán">Mua hàng  - Thanh toán</a></li>
                                    <li><a href="#" title="Bảo mật thông tin">Bảo mật thông tin</a></li>
                                    <li><a href="#" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a></li>
                                    <li><a href="#" title="Hỗ trợ trả góp 0%">Hỗ trợ trả góp 0%</a></li>
                                </ul>
                                <div>
                                    <a href="#"><img src="~/Ảnh/dathongbao.png" height="107px" /></a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5 footer-thongtin">
                        <div class="footer_title">THIẾT BỊ Y TẾ </div>
                        <p>Địa chỉ :</p>
                        <p>Giấy phép kinh doanh : </p>
                        <p>Tel:   Fax: </p>
                        <p>HOTLINE : </p>
                        <p>Email : </p>
                        <p>Website : </p>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    @await RenderSectionAsync("Scripts",required:false)
    <script>
    function showProduct() {
        console.log(1)
        var str = '';
        var inputValue = document.getElementById("ipText").value;
         console.log(inputValue)

        jQuery.ajax({
            type: 'GET',
            url: `https://localhost:7120/api/SearchAPI/${inputValue}`,
            dataType: 'json',
            success: function (data) {
                 str += `<section class="homeproducts">`
                    str += ` <div class="container" >`
                    str += `<div class="products-row">`
                    str += `<h2 class="homeproducts-title"></a></h2>`
                $.each(data,function(key, val){

                    str += `<div class="col-md-3 productsbox">`
                    str += `<div class="btn05">
							<div class="productsbox-img">
								<a href="./may-do-duong-huyet-accu-chek-instant.html" title="Máy đo đường huyết Accu Chek Instant">
									<img src="${val.anh}" title="Máy đo đường huyết Accu Chek Instant" alt="Máy đo đường huyết Accu Chek Instant" data-alt-src="${val.anh}"></a></div>
							<div class="ovrly"></div>
							<div class="buttons">
								<a href="./may-do-duong-huyet-accu-chek-instant.html" title="Máy đo đường huyết Accu Chek Instant" class="fa fa-link"></a>
								<a href="#" class="fa fa-search"></a>
							</div>
						</div>
						<h3 class="productsbox-name"><a href="/BanHang/ChiTietSanPham?MaSP=${val.maThietBi}" title="Máy đo đường huyết Accu Chek Instant">${val.tenThietBi}</a></h3>
						<div class="productsbox-price"><div class="price-goc">${val.giaBan} VNĐ</div> <div class="price-dis"></div></div>`
                    str += `</div>`
				                
                });
                    str += `</div>`
                    str +=	`</div`
                    str+=`</section>`
                $('#ele-for-render-ajax').html(str);
                
            },

            Erorr: function (xhr) {
                alert(xhr.responseText)
            }
        });
    }

    </script>
</body>
</html>