@using BTL_Web_Nhom7.Models;
@model ThietBiYte
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutBanHang.cshtml";
}

<section class="breacrumb">
    <div class="container">
        <div style="background: linear-gradient(#3c3f99 0%, #41409e 20%); padding: 15px 10px; ">
            <img src="https://img.icons8.com/material-outlined/20/000000/home--v2.png" style="vertical-align: sub;" /> @Html.ActionLink("Trang chủ", "TrangChu")
            <img src="https://img.icons8.com/metro/20/000000/chevron-right.png" style="vertical-align: sub;" />@Html.ActionLink("Danh mục", "LoaiSanPham", new { MaLoai = Model.MaLoai })
            <img src="https://img.icons8.com/metro/20/000000/chevron-right.png" style="vertical-align: sub;" />@Html.ActionLink("Loại", "LoaiSanPham", new { MaLoai = Model.MaLoai })
            <img src="https://img.icons8.com/metro/20/000000/chevron-right.png" style="vertical-align: sub;" />@Html.ActionLink("Tên sản phẩm", "ChiTietSanPham", new { MaSP = Model.MaThietBi })
        </div>
    </div>
</section>

    <section class="productscate">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaThietBi = Model.MaThietBi}))
                {
                    Decimal? Giaban = Model.GiaBan;
                    if (Model.SoLuong == 0)
                    {
                        Giaban = -1;
                    }
                    String Gia = Giaban > 0 ? String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.GiaBan) : "Liên Hệ!";
                    String ChietKhau = Model.GiamGia > 0 ? Model.GiamGia.ToString() + "%" : "";
                    if (Model.GiamGia > 0 && Giaban > 0)
                    {
                        double t = (double)Model.GiamGia;
                        double tien = (double)Model.GiaBan * (1 - t);
                        Gia = String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", tien);
                        ChietKhau = String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.GiaBan);
                    }
                    <div class="col-xs-12 col-sm-6 col-md-6 img-detail"><img src="@Model.Anh" style="min-height: 300px" /></div>
                    <div class="col-xs-12 col-sm-6 col-md-6 detail_content">
                        <h1>@Model.TenThietBi</h1>
                        <div class="detail_brief"></div>
                        @{
                            if (Giaban < 0)
                            {
                                <div class="productsbox-price">
                                    <div class="price-goc">Liên hệ!</div>
                                </div>
                            }
                            else
                            {
                                if (Giaban != 0)
                                {
                                    <div class="detail_price"><div class="detail-price-goc">@Gia </div> <div class="detail-price-dis">@ChietKhau</div></div>
                                }
                                else
                                {
                                    <div class="detail_price"><div class="detail-price-goc">@Gia</div></div>
                                }
                                <div class="qunty_cart">
                                    <span class="button_soluong buttonsoluong">Số lượng :</span>
                                    @Html.TextBox("Soluong", 1, new { type = "number", max = Model.SoLuong, min = 0 })
                                    <div class="clear"></div>
                                </div>
                            }
                        }
                        <div class="productPriceWrapRight">
                            @{
                                if (Giaban < 0)
                                {

                                }
                                else
                                {
                                    <button id="featuredProduct_581" class="button btn-cart buy-now-detail add_to_cart" type="submit" title="Mua hàng">
                                        <span class="text-large">Mua hàng</span>

                                    </button>
                                    //<a asp-controller="GioHang" asp-action="ThemGioHang" asp-route-MaThietBi="@Model.MaThietBi">Mua Hàng</a>
                                }
                            }

                        </div>
                        <div class="goituvan">
                            <a class="button-call-now" type="button" href="tel:0918007475" style="background: linear-gradient(#3c3f99 0%, #41409e 20%);">
                                <span class="text-large">Gọi ngay 0978594932</span>
                                <span class="text-small hidden-sm hidden-xs hidden-md">Để nghe tư vấn sản phẩm nhanh, miễn phí</span>
                            </a>
                        </div>
                    </div>
                }

                @using (Html.BeginForm("DanhGiaSanPham", "BanHang", new { @MaThietBi = Model.MaThietBi }))
                {
                    <div >
                        @{
                            if (ViewBag.KhongDanhGia != null)
                            {
                                <p>@ViewBag.KhongDanhGia</p>
                            }
                            if (ViewBag.SoDanhGia != null)
                            {
                                <p>@ViewBag.SoDanhGia </p>
                            }

                        }
                    </div>
                    <div >
                        Đánh giá @Html.TextBox("DanhGia", 5, new { type = "number", max = 5, min = 1 })
                        <input type="submit" value="Xác nhận đánh giá" class="btn btn-danger">
                    </div>
                }
                </div>
            <div class="detail_note">
                <div class="detail_note_title"><i class="fa fa-th-list"></i> Chi tiết sản phẩm</div>
                <div class="note">
                    <p id="demo"></p>
                    <script>
   
                    </script>
                    @Html.Raw(Model.ChiTiet)
                </div>
            </div>
        </div>
    </section>






