
@using BTL_Web_Nhom7.Models.HoaDonModel;
@model HoaDonDTO

@{
    var t = "class='active'";
    if (Model.ThanhTien != null &&  Model.ThanhTien != 0)
    {
        t = "style = 'cursor: pointer', onclick = 'DisplayHoaDon(&apos;" + @Model.SoHdb + "&apos;); return false'";
    }

}
<tr @Html.Raw(t)>
    <td style="max-width:150px">@Model.SoHdb</td>
    <td>@Model.TenKh</td>
    <td>@Model.DienThoai</td>
    <td>@Model.DiaChi</td>
    <td>@Model.ThanhTien</td>
    <td style="color:red" >@Model.ThanhTien</td>
</tr>

